{# Contact - n'est pas utilisé pour le moment #}
{% extends "OCCoreBundle::layout.html.twig" %}

{% block body %}
  <h1>Contact</h1>
  <p>
    Ici nous aurons le formulaire de contact.
  </p>
{% endblock %}